<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">TP - Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/compte" routerLinkActive="active">Compte</a>
        <a class="nav-item nav-link" routerLink="/catalogue" routerLinkActive="active">Catalogue</a>
        <a class="nav-item nav-link" routerLink="/panier" routerLinkActive="active">Panier <span class="badge badge-pill badge-primary">{{nbProduct}}</span></a>
      </div>
        <div class="ml-auto">
          <a class="btn btn-outline-warning ml-auto mr-2" routerLink="/inscription" routerLinkActive="active" type="submit">Inscription</a>
          <a class="btn btn-outline-success ml-auto"  routerLink="/connexion" routerLinkActive="active" type="submit">Connexion</a>
        </div>
      </div>
  </nav>
  <router-outlet></router-outlet>